<div>
    <h2>Ingredients</h2>
    <ul>
        <% if (ingredients_titles.length > 0) {forEach (int i = 0; i < ingredients_titles.length; i++) { %>
            <li><b><%= ingredients_titles[i] %></b></li>
        <% }} %>
    </ul>
</div>