<div>
    <h2>Ingredients</h2>
    <ul>
        <% if (ingredients.length > 0) { ingredients.forEach(function(ingredient) { %>
            <li><b><%= ingredient %></b></li>
        <% }) } %>
    </ul>
</div>