<div>
    <h2>Instructions</h2>
    <ol>
        <% if (instructions_titles.length > 0) {for (i = 0; i < instructions_titles.length; i++) { %>
            <li><b><%= instructions_titles[i] %></b><%= instructions_details[i] %></li>
        <% }} %>
    </ol>
</div>