<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1>This is a really cool website!!!</h1>
    <form action="/search-meal" method="POST">
      <label for="meal">Meal: </label>
      <input id="meal" name="meal" placeholder="Meal" type="text" />
      <button type="submit">Submit</button>
    </form>
</body>
</html>