<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe for <%= mealName %></title>
</head>
<body>
  <h1>Recipe for <%= mealName %></h1>
  <h2>Ingredients</h2>
  <p><%- ingredients %></p>
  <h2>Instructions</h2>
  <p><%- instructions %></p>
  <a href="/">Back</a>
</body>
</html>