<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe for <%= mealName %></title>
</head>
<body>
  <h1>Recipe for <%= mealName %></h1>
  <% console.log(ingredients) %>
  <% console.log(instructions_details) %>
  <% console.log(instructions_titles) %>
  <% -include("./partials/ingredients.ejs") %>
  <% -include("./partials/instructions.ejs") %>
  <a href="/">Back</a>
</body>
</html>