<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label for="firstName">First Name:</label>
    <input id="firstName" name="firstName" placeholder="First Name" type="text" required/>
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" placeholder="Last Name" type="text" required/>
    <label for="password">Password: </label>
    <input id="password" name="password" type="password" required/>
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" name="confirmPassword" type="password" required/>
    <label for="email">Email: </label>
    <input id="email" name="email" type="email" required/>
    <button type="submit">Sign Up</button>
  </form>
  <%- include("./partials/errors.ejs") %>
  <a href="/">Back to home</a>
</body>
</html>
